/*---- CONTENT MAIN WRAPPER ----*/
.main-wrapper {
    width: 90%;
    background-color: lightgrey;
    margin: 0 auto;
}
.main-wrapper>p {
    margin:0;
}
/*---- UPPER LOGO TEMPLATE ----*/
.upperLogo>img {
    width: 100%;
    height: 50px;
}


/*---- NUMBER OF SLIDE CONFIGURATION ----*/
.wrapper {
    margin: 1em auto;
    position: relative;
    height: 100px;
}

input {
    display: none;
}

.inner {
    width: 500%;
    line-height: 0;
}

article {
    width: 20%;
    float: left;
    position: relative;
}
article img {
    width: 100%;
    height: 100px;
}

/*---- SET UP CONTROL ----*/
.slider-dot-control {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.slider-dot-control label {
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #bbb;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.slider-dot-control label:hover {
    background: #ccc;
    border-color: #777;
}

/* Info Box */
.info {
    position: absolute;
    font-style: italic;
    line-height: 20px;
    opacity: 0;
    color: #000;
    text-align: left;
    -webkit-transition: all 1000ms ease-out 600ms;
    -moz-transition: all 1000ms ease-out 600ms;
    transition: all 1000ms ease-out 600ms;
}
.info h3 {
    color: #fcfff4;
    margin: 0 0 5px;
    font-weight: normal;
    font-size: 1.5em;
    font-style: normal;
}
.info.top-left {
    top: 30px;
    left: 30px;
}
.info.top-right {
    top: 30px;
    right: 30px;
}
.info.bottom-left {
    bottom: 30px;
    left: 30px;
}
.info.bottom-right {
    bottom: 30px;
    right: 30px;
}

/* Slider Styling */
.slider-wrapper {
    width: 100%;
    overflow: hidden;
    height: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #666;
    background: #fff;
    background: #fcfff4;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}
.slider-wrapper .inner {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

/*---- SET POSITION FOR SLIDE ----*/
#slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin: 0;
    line-height: 38px;
    font-size: 3em;
    display: block;
    color: #777;
}

#slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after {
    content: "\f105";
    padding-left: 15px;
}

#slide1:checked ~ .slider-prev-next-control label:nth-child(2), #slide2:checked ~ .slider-prev-next-control label:nth-child(3), #slide3:checked ~ .slider-prev-next-control label:nth-child(4), #slide4:checked ~ .slider-prev-next-control label:nth-child(5), #slide5:checked ~ .slider-prev-next-control label:nth-child(1) {
    display: block;
    float: right;
    margin-right: 5px;
}

#slide2:checked ~ .slider-prev-next-control label:nth-child(1), #slide3:checked ~ .slider-prev-next-control label:nth-child(2), #slide4:checked ~ .slider-prev-next-control label:nth-child(3), #slide5:checked ~ .slider-prev-next-control label:nth-child(4), #slide1:checked ~ .slider-prev-next-control label:nth-child(5) {
    display: block;
    float: left;
    margin-left: 5px;
}

#slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after {
    content: "\f104";
    padding-left: 8px;
}

#slide1:checked ~ .slider-dot-control label:nth-child(1), #slide2:checked ~ .slider-dot-control label:nth-child(2), #slide3:checked ~ .slider-dot-control label:nth-child(3), #slide4:checked ~ .slider-dot-control label:nth-child(4), #slide5:checked ~ .slider-dot-control label:nth-child(5) {
    background: #333;
}

#slide1:checked ~ .slider-wrapper article:nth-child(1) .info, #slide2:checked ~ .slider-wrapper article:nth-child(2) .info, #slide3:checked ~ .slider-wrapper article:nth-child(3) .info, #slide4:checked ~ .slider-wrapper article:nth-child(4) .info, #slide5:checked ~ .slider-wrapper article:nth-child(5) .info {
    opacity: 1;
}

#slide1:checked ~ .slider-wrapper .inner {
    margin-left: 0%;
}

#slide2:checked ~ .slider-wrapper .inner {
    margin-left: -100%;
}

#slide3:checked ~ .slider-wrapper .inner {
    margin-left: -200%;
}

#slide4:checked ~ .slider-wrapper .inner {
    margin-left: -300%;
}

#slide5:checked ~ .slider-wrapper .inner {
    margin-left: -400%;
}

/*---- TABLET ----*/
@media only screen and (max-width: 850px) and (min-width: 450px) {
    .slider-wrapper {
        border-radius: 0;
    }
}
/*---- MOBILE----*/
@media only screen and (max-width: 450px) {
    .slider-wrapper {
        border-radius: 0;
    }

    .slider-wrapper .info {
        opacity: 0;
    }
}
@media only screen and (min-width: 850px) {
    body {
        padding: 0 80px;
    }
}

/*---- CONTENT HOMEPAGE ----*/

.homeContent {
    display: flex;
}

/*---- APP DESCRIPTION CONTENT ----*/
.webDescription {
    background-color: white;
    width:70%;
}
.webDescription>h1 {
    font-size: 24px;
}
.webDescription>p {
    text-align: center;
    font-size: 15px;
}
/*---- NEWS WIDGET ----*/
.newsWidget {
    width:30%;
    background-color: black;
    text-align: center;
}
.news>li>p, .newsTitle {
    color: yellow;
}

/*---- USER RECOMMENDATIONS ----*/
.usersRecommendationsWidget {
    padding: 0 10px 25px;
}
.usersRecommendationsWidget>a {
    text-align: right;
}
.titleWidget {
    text-align: center;
}
.post {
    padding-bottom: 15px;
}
.post>h3 {
    margin:0;
    padding-left: 15px;
}
.post>p {
    margin: 0;
    text-align: center;
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
}
.userRec {
    color: red;
    float: right;
}


/*---- FOOTER ----*/

.footer {
    margin: 0 auto;
    text-align: center;
    border-top: 2px solid black;
    width:60%;
}
.footer-links {
    display: block;
    list-style: none;
    text-align: center;
}
.footer-links>li>a {
    color: black;
}

/*------ REPORTS AND STATISTICS -------*/
/* Dropdown */

.dropdown {
    display: inline-block;
    position: relative;
}

.dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
}

.dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.dd-button:hover {
    background-color: #eeeeee;
}


.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
}

.dd-input + .dd-menu {
    display: none;
}

.dd-input:checked + .dd-menu {
    display: block;
}

.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dd-menu li:hover {
    background-color: #f6f6f6;
}

.dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}

.dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
}
.generatorButton {
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.generatorButton:hover {
    background-color:#5cbf2a;
}
.generatorButton:active {
    position:relative;
    top:1px;
}
.chosenOptions {
    margin:0 auto;
    padding: 10px 20px;
}
.statistics,.reports {
    text-align: center;
}
.statistics {
    margin-bottom: 20px;
}
.generatorButton2 {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c78845), color-stop(1, #bd7b2a));
    background:-moz-linear-gradient(top, #c78845 5%, #bd7b2a 100%);
    background:-webkit-linear-gradient(top, #c78845 5%, #bd7b2a 100%);
    background:-o-linear-gradient(top, #c78845 5%, #bd7b2a 100%);
    background:-ms-linear-gradient(top, #c78845 5%, #bd7b2a 100%);
    background:linear-gradient(to bottom, #c78845 5%, #bd7b2a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c78845', endColorstr='#bd7b2a',GradientType=0);
    background-color:#c78845;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #c76824;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.generatorButton2:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bd7b2a), color-stop(1, #c78845));
    background:-moz-linear-gradient(top, #bd7b2a 5%, #c78845 100%);
    background:-webkit-linear-gradient(top, #bd7b2a 5%, #c78845 100%);
    background:-o-linear-gradient(top, #bd7b2a 5%, #c78845 100%);
    background:-ms-linear-gradient(top, #bd7b2a 5%, #c78845 100%);
    background:linear-gradient(to bottom, #bd7b2a 5%, #c78845 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd7b2a', endColorstr='#c78845',GradientType=0);
    background-color:#bd7b2a;
}
.generatorButton2:active {
    position:relative;
    top:1px;
}

/*----- FLUX ----*/
.suppliersArea {
    text-align: center;
}
.supplierOrders {
    margin: 0 auto;
}
.interventions {
    margin: 0 auto;
}
.stockManagement {
    padding-bottom: 30px;
}

/*---- STOCKS ----*/
.unit {
    background-color: whitesmoke;
}
.supplier {
    padding-left: 20px;
}
.stockings {
    text-align: center;
}
.stockingsTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
.stockingsTable>td, .stockingsTable>th {
    border: 1px solid grey;
    text-align: left;
    padding: 8px;
}

.stockingsTable>tr:nth-child(even) {
    background-color: #dddddd;
}

/*---- MAIN MENU FOR EVERY PAGE ----*/
.highMenu {
    background-color: silver;
}
.listMenu {
    display: flex;
    list-style: none;
    padding: 25px;
    margin: 0;
}
.listMenu>li {

}
.listMenu>li>a {
    text-decoration: none;
    padding-right: 20px;
}

/*---- MAP ----*/
.mapWrapper {
    margin: 0 auto;
}
.mapWrapper>img {
    width:100%;
}
